__pycache__/
.idea
config.py
/env/
/logs/
/var/
!/var/.gitignore
!/var/cache

# Visual Studio Code related ignores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
