__pycache__/
.idea
config.py
/env/
/logs/
/var/
!/var/.gitignore
!/var/cache
/venv/

# Visual Studio Code related ignores
.vscode/*
**.code-workspace

# Local History for Visual Studio Code
.history/

/extensions/reload.py
