authkey = 'Put Discord Build-a-bot token here'
commandchar = '!'         # The character(s) that should prepend a command
owners = ['XSlicer#6364'] # List of owners, who can load plugins

activeplugins = [
    'info',
    'weather'
]